.heading {
    color:black;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
}
.menu {
    align-items: center;
    color:black;
    font: size 30px;
    text-align:left;
    padding-left: 130px;
    padding-right: 150px;
}
.para {
    color:black;
    font-size: 12px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;

}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.image-container img {
    width: 26%;
    height: auto;
    max-width:100%;
    object-fit: cover;
    aspect-ratio: 3/4;


}
.map { 
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    padding-left: 450px;
    padding-right: 300px;
    height: 450px;

}