.heading {
    color:black;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
}
.menu {
    align-items: center;
    color:black;
    font: size 30px;
    text-align:left;
    padding-left: 130px;
    padding-right: 150px;
}
.para {
    color:black;
    font-size: 12px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;

}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.image-container img {
    width: 30%;
    height: 450px;
}
.map { 
    display: flex; /* Change to flex */
    align-items: center;
    justify-content: center; /* Change to center */
    text-align: center;
    margin-bottom: 20px;
    width: 50%; /* Remove width */
    height: 500px;
    position: relative; /* Add position */
}

.img {
    max-width: 100%; /* Make sure image doesn't overflow */
    max-height: 100%; /* Make sure image doesn't overflow */
    position: absolute; /* Add position */
    top: 50%; /* Add top */
    left: 50%; /* Add left */
    transform: translate(-50%, -50%); /* Adjust to center */
}

}
